$screen-xl: 1000px;
$screen-md: 800px;
$screen-sm: 700px;
$screen-xs: 600px;

@mixin xl {
  @media screen and (max-width: $screen-xl) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: $screen-md) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: $screen-sm) {
    @content;
  }
}

@mixin xs {
  @media screen and (max-width: $screen-xs) {
    @content;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.black-color {
  color: black;
}

.pink-color {
  color: #ff00e9;
}

a.button {
  display: inline-block;
  background: blue;
  color: white;
  padding: 10px 40px;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.main-header {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;

  .main-header-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    .main-navigation {
      display: flex;
      align-items: center;
      column-gap: 30px;
      margin-left: 60px;

      .main-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        list-style-type: none;
        padding-left: 0;
        row-gap: 20px;
        column-gap: 30px;

        .menu-item {
          a {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }
}

#page-content {
  margin-top: 130px;

  .bg-image {
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    padding: 30px;
    display: block;
    background-image: url('banner.jpg');
    background-color: white;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: 80% 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // @media screen and (max-width: $screen-sm) {
    //   background-size: 410px;
    //   background-position: 95% 100%;
    // }

    @include sm {
      background-size: 410px;
      background-position: 95% 100%;
    }
    
    .link-text-wrapper {
      // @media screen and (max-width: $screen-sm) {
      //   display: flex;
      //   flex-direction: column;
      //   row-gap: 10px;
      // }

      @include sm {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
      }
    }
  }

  .programs-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
    align-items: start;
    margin-top: 30px;
    margin-bottom: 50px;

    // @media screen and (max-width: $screen-xl) {
    //   grid-template-columns: 2fr 3fr;
    // }

    @include xl {
      grid-template-columns: 2fr 3fr;
    }

    // @media screen and (max-width: $screen-md) {
    //   grid-template-columns: 1fr;
    //   row-gap: 30px;
    // }

    @include md {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }

    .programs-filter {
      background-color: white;
      padding: 30px;
      position: sticky;
      top: 90px;

      // @media screen and (max-width: $screen-md) {
      //   position: static;
      // }

      @include md {
        position: static;
      }
    }

    .programs-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 30px;

      .program-item {
        width: calc((100% - 30px) / 2);
        background-color: white;
        padding: 30px 30px 25px;
        position: relative;

        // @media screen and (max-width: $screen-xl) {
        //   width: 100%;
        // }

        @include xl {
          width: 100%;
        }

        // @media screen and (max-width: $screen-md) {
        //   width: calc((100% - 30px) / 2);
        // }

        @include md {
          width: calc((100% - 30px) / 2);
        }

        // @media screen and (max-width: $screen-xs) {
        //   width: 100%;
        // }

        @include xs {
          width: 100%;
        }

        a {
          color: black;
          text-decoration: none;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          .program-main-info {
            .program-image {
              height: 97px;
            }
          }
  
          .program-features-list {
            display: flex;
            column-gap: 30px;
          }
  
          .program-extra-info {
            background-color: #ff00e9;
            font-size: 13px;
            padding: 10px 15px;
            border-radius: 30px;
            color: white;
            text-transform: uppercase;
            position: absolute;
            top: 15px;
            right: -15px;
          }
        }
      }
    }
  }
}

footer {
  padding: 140px 0;
  background-color: black;
  background-image: url('https://codeacademy.lt/wp-content/themes/codeacademy/dist/images/footer.svg');
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: calc(50% + 450px) 110%;
  color: #929497;

  a {
    color: #929497;
    text-decoration: none;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      padding-bottom: 15px;
    }
  }

  .logo-wrapper {
    margin-bottom: 88px;
  }

  .menu-wrapper {
    display: grid;
    grid-template-columns: 20% 20% 1fr 20%;
    grid-template-areas: "main-menu contacts . social";
    gap: 30px;

    .main-menu {
      grid-area: main-menu;
    }

    .contacts {
      grid-area: contacts;

      .city-name {
        text-transform: uppercase;
        font-size: 12px;
        color: white;
      }
    }

    .social {
      grid-area: social;

      ul {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        // li {
        //   a {
        //     &:hover {
        //       svg {
        //         path {
        //           fill: white;
        //         }
        //       }
        //     }
        //   }
        // }

        // a:hover {
        //   path {
        //     fill: white;
        //   }
        // }

        a:hover path {
          fill: white;
        }
      }
    }
  }

  .privacy-policy {
    margin-top: 250px;
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 30px;

    .copyright {
      p {
        margin-top: 0;
      }

      a {
        color: white;
      }
    }
  }
}
