$color-black: black;
$color-white: white;
$color-green: green;
$color-red: red;
$padding-10: 10px;
$padding-small: 10px;
$padding-20: 20px;
$padding-30: 30px;

$spacing-medium: 30px;

$spacing-30: 30px;

